{
  "extends": ["eslint:recommended", "google"],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-var": "off",
    "max-len": [
      "warn",
      80
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ],
    "no-with": "error",
    "no-implicit-coercion": [
      "error",
      {
        "boolean": false,
        "string": true,
        "number": false
      }
    ],
    "consistent-this": [
      2,
      "_this"
    ],
    "no-console": "warn",
    "require-jsdoc": "off",
    "key-spacing": ["warn", { "align": "value" }],
    "no-multi-spaces": ["error", {
      "exceptions": {
        "VariableDeclarator": true,
        "Property": true
      }
    }]
  }
}
