# Logs
logs
*.log

# yarn
yarn.lock

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules
.nyc_output
test.js
coverage
